<!-- get tag from github -->
<div class="panel-group gs-download-step-panel" id="git{{ .Get "tag" }}">
<div class="panel panel-success">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h4 class="panel-title" style="margin: 0; line-height: 41px;">
                Catch up: Get the Sources of {{ .Get "tag" }}.
            </h4>
        </div>
        <div class="pull-right">
            <a class="btn btn-success gs-download-step-btn" href="https://github.com/EximeeBPMS/{{ .Get "repo" }}/archive/{{ .Get "tag" }}.zip">
            <span class="glyphicon glyphicon-download-alt"></span>
            Source Code {{ .Get "tag" }}
            </a>
        </div>
    </div>
</div>
</div>
